body {
    background-color: rgb(5, 7, 8);
}

canvas {
    background-color: #0d1116;
    border-radius: 5px;
}

#GameBoard{
    width: 400px;
    height: 700px;
    position: relative;
    background-color: #11161d;
    border-radius: 5px;
}

.startBtn {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 72px;
    width: 156px;
    background-image: url('../images/buttons/btn-play.png');
    background-size: cover;
}

.startBtn:hover {
    background-image: url('../images/buttons/btn-play-hover.png');
}

#pauseGame {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

#restartGame {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.hero-img{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 5px 5px;
}

#canvasBoard{
    display: none;
}