* {
    transition: 0.3s;
}

body {
    background-color: rgb(5, 7, 8);
}

canvas {
    border-radius: 5px;
}

.shadow-danger {
    -webkit-box-shadow: 0px 0px 35px 0px rgba(255, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 35px 0px rgba(255, 0, 0, 0.4);
    box-shadow: 0px 0px 35px 0px rgba(255, 0, 0, 0.4);
}

#instrucciones {
    max-width: 400px;
}

.instrucciones {
    opacity: 0.5;
}

#mainGame {
    display: none;
}

#GameBoard{
    width: 400px;
    height: 700px;
    position: relative;
    background-color: #2762b6;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#startGame {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.resumeBtn{
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#pauseGame {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

#restartGame {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.hero-img{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 5px 5px;
}

#canvasBoard{
    display: none;
}

.boardScreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.opacity-img {
    opacity: 0.4;
}

.backgroundSelectBtn:hover {
    transform: scale(1.1);
    opacity: 1;
}

.img-fluid {
    cursor: pointer;
}

.game-btn {
    height: 70px;
}

.game-btn:hover {
    transform: scale(0.95);
}

.game-advantage {
    height: 85px;
    margin-right: 1rem;
}

.game-btn-animation:hover {
    transform: scale(0.95);
}

.noStyle {
    text-decoration: none;
}

.noStyle:hover {
    text-decoration: none;
}

.level-to-show {
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%,-50%);
}

.level-to-show-lose {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%); 
}

.modal-body {
    background-color: rgb(5, 7, 8);
    border: 1px solid rgb(39, 39, 39);
}

.displayBoard {
    display: block;
}